*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slidecontainer{
    margin: 10px auto;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    margin: 10px auto;

    width: 50%; /* Full-width */
    height: 25px; /* Specified height */
    background: #185c94; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
#gridBtn{
    margin: 10px auto;
}

.container{
    height: 800px;
    width: 800px;
    background-color: lightgray;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: stretch;
}

.divGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    border: 1px solid lightblue;
}
